<!DOCTYPE HTML>
<!--
	Read Only by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="True">
		<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<meta name="description" content="Dmitry Pisklov :: {{ title }}" />

		<meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="Dmitry Pisklov :: {{ title }}">
		<meta name="twitter:url" content="http://blog.pisklov.me/{{ path }}" />

		<meta property="og:url" content="http://blog.pisklov.me/{{ path }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="Dmitry Pisklov :: {{ title }}">
    <meta property="og:site_name" content="Dmitry Pisklov :: Blog">

		<meta itemprop="name" content="{{ title }}">
    <meta itemprop="description" content="Dmitry Pisklov :: {{ title }}">
		<link rel="author" href="http://blog.pisklov.me/about/">

		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="/{{ fingerprint.[assets/css/main.css] }}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="/images/avatar.jpg" alt="" /></span>
					<h1 id="logo"><a href="#">Dmitry Pisklov</a></h1>
					<p>Software Developer<br/>
					Tech Geek</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="/" class="active">Blog</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						<li><a href="https://github.com/dpisklov" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://www.linkedin.com/in/dmitrypisklov/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="mailto:dmitry.pisklov@chronicle.software" class="icon fa-envelope"><span class="label">Email</span></a></li>
						<li><a href="https://www.instagram.com/black__raven/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						{{{contents}}}
					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; Dmitry Pisklov. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
